/src/components/Button/Button.vue
/src/components/Button/confirm-pay-my.vue
/src/components/Input/text.vue
/src/views/accountsDisabled/accountsDisabled.vue
/src/views/buyCurrency/paymentMethod/index.vue
/src/views/buyCurrency/paymentMethod/childrens/allPaymentMethod/index.vue
/src/views/buyCurrency/paymentMethod/childrens/correspondPaymentMethod/index.vue
/src/views/buyCurrency/paymentResult/index.vue
/src/views/buyCurrency/paymentResult/PaymentResultChildren/PaymentFailed.vue
/src/views/buyCurrency/paymentResult/PaymentResultChildren/PaymentSucceeded.vue
/src/views/buyCurrency/paymentResult/PaymentResultChildren/PaymentTimeout.vue
/src/views/buyCurrency/paymentResult/PaymentResultChildren/PaymentWait.vue
/src/views/buyCurrency/receivingMode/index.vue
/src/views/emailCode/index.vue
/src/views/emailCode/children/verifyCode.vue
/src/views/IdAuthentication/Index.vue
/src/views/IdAuthentication/Authentication/Failed.vue
/src/views/IdAuthentication/Authentication/Loading.vue
/src/views/Information/IdProof.vue
/src/views/Information/Index.vue
/src/views/initialPage/index.vue
/src/views/initialPage/childrens/buyCrypto.vue
/src/views/initialPage/childrens/sellCrypto.vue
/src/views/KycOnfido/KycVerify.vue
/src/views/KycOnfido/KycVerifyStatus.vue
/src/views/KycOnfido/KycVerifyChildren/VerifyException.vue
/src/views/KycOnfido/KycVerifyChildren/VerifyFailed.vue
/src/views/KycOnfido/KycVerifyChildren/VerifyImgStatus.vue
/src/views/KycOnfido/KycVerifyChildren/VerifyLanguageSelect.vue
/src/views/KycOnfido/KycVerifyChildren/VerifySucceeded.vue
/src/views/KycOnfido/KycVerifyChildren/VerifyWaiting.vue
/src/views/kycResult/error-countryCheck.vue
/src/views/KycVerification/index.vue
/src/views/KycVerification/addressMaterial/index.vue
/src/views/orderState/index.vue
/src/views/orderState/children/sellState.vue
/src/views/orderState/children/sendCrypto.vue
/src/views/payAgain/index.vue
/src/views/payAgain/errorCardInfo/index.vue
/src/views/payAgain/historyCard/index.vue
/src/views/tradeHistory/buyDetails.vue
/src/views/tradeHistory/index.vue
/src/views/tradeHistory/refund.vue
/src/views/tradeHistory/SellDetails.vue
/src/views/unauthorizedAccess/index.vue
src/utils/aliyunBurialPoint.js
src/utils/forterCookie.js
src/main.js
