#box {
  height: 100%;
  #sell-form {
    height: 100%;
    //padding-bottom: 0.88rem;
    .sellForm-content {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .formLine {
        margin-bottom: 0.24rem;
        position: relative;
        width: 100%;
        &.mb21 {
          margin-bottom: 0.21rem;
        }
        &.mb0 {
          margin-bottom: 0;
        }
        &[data-width="164"] {
          width: 1.64rem;
        }
        .form-tips {
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 500;
          font-size: 0.16rem;
          line-height: 0.2rem;
          color: #5d636d;
        }
        .alternative-radio-box {
          ::v-deep .el-radio {
            .el-radio__input {
              .el-radio__inner {
                width: 0.16rem;
                height: 0.16rem;
                &:after {
                  width: 0.06rem;
                  height: 0.06rem;
                }
              }
            }
            .el-radio__label {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 500;
              font-size: 0.13rem;
              line-height: 0.18rem;
              color: #5d636d;
              padding-left: 0.06rem;
            }
            &.is-checked {
              .el-radio__input {
                .el-radio__inner {
                  background-color: #0059da;
                  border-color: #0059da;
                }
              }
              .el-radio__label {
              }
            }
          }
        }
        .alternative-input-box {
          position: relative;
          margin-top: 0.24rem;
        }

        .tipsMessage {
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 0.14rem;
          line-height: 0.22rem;
          color: #5d636d;
          margin-bottom: 0.15rem;
        }
        .formTitle {
          position: absolute;
          left: 0.07rem;
          transform: translateY(-50%);
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 500;
          font-size: 0.13rem;
          line-height: 0.18rem;
          color: #5d636d;
          z-index: 1;
          padding: 0 0.04rem;
          background: #fff;
          display: flex;
          align-items: center;
          &.focus {
            color: #0059da;
          }
          span {
          }
        }
        .formContent {
          width: 100%;
          position: relative;
          .radioInput {
            height: 0.48rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #dbdee3;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
            border-radius: 0.06rem;
            padding: 0 0.12rem;
            .value {
            }

            .rightIcon {
              display: flex;
              align-items: center;
              .transfromOrigin {
                transform: rotate(-180deg);
                transition: 0.35s;
              }
              .transfromOrigin1 {
                transform: rotate(0deg);
                transition: 0.35s;
              }
              img {
                height: 0.24rem;
              }
            }
            &:hover {
              border-color: #babfc8;
            }
            &.radios-true {
              border-color: #0059da;
              // box-shadow: 0 0 0px 0.02rem rgba(0, 89, 218, 0.3);
            }
          }
          .selectView {
            position: absolute;
            top: 100%;
            margin-top: 0.04rem;
            left: 0;
            right: 0;
            background: #ffffff;
            box-shadow: 0px 0px 0.32rem rgba(0, 0, 0, 0.14);
            border-radius: 0.06rem;
            padding: 0.04rem;
            z-index: 999;
            overflow: hidden;
            transition: 0.2s;
            .selectDate {
              li {
                height: 0.4rem;
                line-height: 0.4rem;
                padding: 0 0.12rem;
                border-radius: 0.04rem;
                font-family: "HarmonyOS Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 0.14rem;
                color: #252830;
                cursor: pointer;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:hover {
                  background: #f5f5f5;
                }
                //选中样式
                &.selectItem {
                  background: #ededed;
                }
              }
            }
          }

          input {
            display: block;
            height: 0.48rem;
            width: 100%;
            border: 1px solid #dbdee3;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
            border-radius: 0.06rem;
            padding: 0 0.12rem;
            &:hover {
              border-color: #babfc8;
            }
            &:focus {
              border-color: #0059da;
              // box-shadow: 0 0 0px 0.02rem rgba(0, 89, 218, 0.3);
            }

            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 0.14rem;
            line-height: 0.16rem;
            color: #252830;

            &::placeholder {
              font-family: "SF Pro Display";
              font-style: normal;
              font-weight: 400;
              font-size: 0.14rem;
              line-height: 0.16rem;
              color: #b7bcc5;
            }
          }
          &.cursor {
            cursor: pointer;
          }
        }
        .errorMessage {
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 400;
          font-size: 0.13rem;
          line-height: 0.18rem;
          color: #f53f3f;
          margin-top: 0.02rem;
        }

        &.formContentError {
          .formTitle {
            color: #f53f3f;
          }
          .formContent {
            input {
              border-color: #f53f3f;
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
            }
          }
        }
      }
    }
    .attention {
      border: 1px solid rgba(255, 125, 0, 0.15);
      background: rgba(255, 125, 0, 0.05);
      border-radius: 0.06rem;
      padding: 0.08rem;
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 0.11rem;
      line-height: 0.15rem;
      color: #252830;
      margin-bottom: 0.24rem;
    }
    .footer {
      width: 100%;
      position: sticky;
      bottom: 0.2rem;
      left: 0;
      background: #ffffff;
      padding: 0.08rem 0 0;
      z-index: 999;
      button {
        width: 100%;
        height: 0.48rem;
        border-radius: 0.06rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 500;
        font-size: 0.16rem;
        line-height: 0.19rem;
        text-align: center;
        color: #ffffff;
        .rightIcon {
          width: 0.2rem;
          margin-left: 0.08rem;
          span {
            height: 0.17rem;
          }
        }

        background: #0059da;
        opacity: 1;
        cursor: pointer;
        &:hover {
          background: #0052c9;
        }
        &:active {
          background: #004bb7;
        }
        &[disabled] {
          background: #0059da;
          opacity: 0.2;
          cursor: no-drop;
        }
      }
    }
  }
}
